body {
  box-sizing: border-box;
  font-family: $main-font-family;
  font-size: $main-font-size;
  line-height: $main-line-height;
  letter-spacing: $main-letter-spacing;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
