$colors: (
  'main-text': #757575,
  'accent': #2196f3,
  'main-background': #ffffff,
  'main-heading': #212121,
  'interim-heading': #ffffff,
  'main-border': #ececec,
);

$main-font-family: 'Roboto', sans-serif;
$interim-font-family: 'Raleway', sans-serif;
$main-font-size: 14px;
$main-line-height: 1.71;
$main-letter-spacing: 0.03em;
